.gradle
bin
build
.idea
.vscode
.cursor
.kiro
.gradle
.gradlew
.gradlew.bat
.gradlew.bat

.cursorrules
kashub_tree.txt
.github

# OS
.DS_Store
Thumbs.db

# Fabric
run/
logs/

# Compiled
*.class
out/

ROADMAP_v0.7.0.md