name: Discord Notification

on:
  push:
    branches: [ main ]

jobs:
  notify:
    runs-on: ubuntu-latest
    environment: DISCORD_WEBHOOK  # ← указываешь какой environment использовать
    steps:
      - name: Send to Discord
        uses: sarisia/actions-status-discord@v1
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
