name: Discord Notification

on:
  push:
    branches: [ main, develop ]
  pull_request:
    types: [ opened, closed, reopened ]
  issues:
    types: [ opened, closed ]
  release:
    types: [ published ]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send to Discord
        uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
